@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/*roots variables */
:root {
  --primary-color: #3b5998;
  --secondary-color: #2d3748;
  --tertiary-color: #4a5568;
  --primary-background-color: #3b5998;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Plus Jakarta Sans, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.hero-welcome {
  width: 100%;
  position: relative;
}

.hero-welcome .clip-path {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 89%, 100% 46%, 100% 100%, 0% 100%);
  background: var(--primary-background-color);
}

.used .grid-cols-4 div p {
  @apply py-3;
}

.how-it-works .selector {
  div {
    h4 {
      @apply text-2xl;
      @apply font-semibold;
      @apply py-3;
      @apply text-gray-400;
      @apply transition transition-all delay-150;
    }

    p {
      @apply text-gray-400;
      @apply transition ease-in-out delay-150;
    }

    &:hover {
      h4, p {
        @apply text-gray-900;
      }
    }
  }

  .active {
    h4, p {
      @apply text-gray-900;
    }
  }
}

.how-it-works .scroll > div {
  margin-top: -80px;
  overflow: hidden;
  height: 530px;
  position: relative;

  .desc {
    position: absolute;
    top: 150px;
    left: 25%;
    transform: translateX(-50%);
    width: 350px;
    background-color: #fff;
    padding: 20px;
    z-index: 9;
    @apply rounded-md;
    @media (max-width: 680px) {
      display: none;
    }
  }

  .ico {
    position: absolute;
    bottom: 50px;
    right: 25%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    z-index: 9;
    @apply rounded-md;
    @apply bg-sky-200;
    @media (max-width: 680px) {
      display: none;
    }
  }
}

.how-it-works .scroll .phone div {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.investor-say .clip {
  clip-path: polygon(75% 0, 100% 0%, 100% 100%, 44% 100%);
  content: '';
  z-index: 0;
  background: #121c30;
  position: absolute;
  width: 100%;
  height: 100%;
  @media (max-width: 680px) {
    clip-path: polygon(0 75%, 100% 32%, 100% 100%, 0% 100%);
  }
}

// rtl layout dir="rtl"
.rtl {
  .investor-say .clip{
    clip-path: polygon(25% 0, 0% 0%, 0% 100%, 56% 100%);
    @media (max-width: 680px) {
      clip-path: polygon(0 75%, 100% 32%, 100% 100%, 0% 100%);
    }
  }
}

.rc-slider-rail {
  height: 10px !important;
}

.rc-slider-handle {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  border: 2px solid #fff !important;
  background-color: var(--primary-background-color) !important;
  margin-top: -5px !important;
}

.rc-slider-track {
  background-color: var(--primary-background-color) !important;
  height: 10px !important;
}

.assets-class {
  padding-bottom: 120px;

  .clip {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 76%, 0% 100%, 100% 100%);
    background: white;
  }
}

.property-component {
  position: relative;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: translateY(-10px);
    @apply shadow-md shadow-gray-600;
    .img-slider .arrow {
      visibility: visible;
    }
  }

  .img-slider {
    position: relative;

    img {
      @apply rounded-tl rounded-tr;
    }

    .arrow {
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    .slick-dots {
      position: absolute;
      bottom: 15px;

      li button {
        padding: 0;

        &:before {
          color: #fff;
          font-size: 12px;
          opacity: .75;
        }
      }

      li.slick-active button:before {
        color: #fff;
        opacity: 1;
        border: 1px solid #e7e7e7;
        border-radius: 50%;
      }
    }
  }
}

.used {
  > div {
    left: 50%;
    transform: translateX(-50%);
  }
}

.users-mobile-group {
  button {
    @apply bg-gray-100;
    @apply text-gray-400;
    @apply rounded;
    @apply p-2;
    @apply transition ease-in-out delay-150;
    @apply hover:bg-gray-200;
    @apply hover:text-gray-900;
  }

  button.active {
    @apply bg-primary;
    @apply text-white;
  }
}

.properties-hero {
  background-color: #121c30;
  @apply relative text-white;
  .clip-path {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 63%, 91% 100%, 100% 100%);
    @apply bg-gray-200;
    @media (max-width: 680px) {
      display: none;
    }
  }
}

.dropdown-items {
  @apply focus:outline-none flex sm:absolute top-[60px] z-10 origin-top-left  w-56;
  @apply divide-y divide-gray-100 rounded-md bg-transparent sm:bg-white shadow-lg border-0 sm:border border-gray-200;
}